name: Checks
on: push

jobs:
  ts-check:
    name: TypeScript Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build

  prettier-check:
    name: Code Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run format:check

  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t backend .
      - name: Run PostgreSQL container
        run: |
          docker network create testnetwork
          CONTAINER_ID=$(docker run -d --name postgres --network testnetwork -p 5432:5432 -e POSTGRES_PASSWORD=mysecretpassword postgres)
          echo "PostgreSQL container started"
          echo "Sleep for 5 seconds to allow the container to start"
          sleep 5
          echo "PostgreSQL container logs:"
          docker logs $CONTAINER_ID
      - name: Run Docker container
        run: |
          cp .env.template .env
          CONTAINER_ID=$(docker run -d --network testnetwork -p 3001:3001 --env-file .env -e DBHOST=postgres backend)
          echo "Container ID: $CONTAINER_ID"
          echo "Sleep for 5 seconds to allow the container to start"
          sleep 5
          echo "Container logs:"
          docker logs $CONTAINER_ID
      - name: Install HTTPie
        # run: sudo apt-get install -y httpie
        run: python3 -m pip install httpie
      - name: Run basic health check test against Docker container
        run: http -v --check-status GET http://localhost:3001/api/health
